<aside id="navigation-sidebar">
    <ul>
        <li><a href="../dashboard"><i class="fas fa-poll-h"></i>Oversigt</a></li>
        <li><a href="../invoice"><i class="fas fa-file-invoice-dollar"></i>Faktura</a></li>
        <!-- <li><a href="../addUnit"><i class="fas fa-plus-square"></i>Tilføj</a></li>-->
        <!-- <li><a href="../removeUnit"><i class="fas fa-minus-square"></i>Fjern</a></li>-->
        <!-- <li><a href="../storageStatus"><i class="far fa-calculator"></i>Optælling</a></li>-->
    </ul>
</aside>